textarea {
    width: 613px;
    height: 200px;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--main-font-color-black);
    margin-top: auto;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, select {
    height: 30px;
}

button {
    height: 30px;
    background: var(--main-color);
    color: var(--main-font-color);
    border: none;
    font-weight: bold;
}

.wrapper {
    justify-content: space-between;
    min-height: 1250px;
}
