.wrapper {
    height: 1255px;
}

.header {
    margin-bottom: auto;
}

.lawyer {
    color: var(--main-font-color-black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    width: 640px;
}

.lawyer__info {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 380px;
}

.lawyer__name {
    text-align: center;
}

.lawyer__contact {
    text-align: center;

}

.lawyer img {
    max-width: 200px;
}